//breakpoints
$screenXS: 480px;
$screenS: 768px;
$screenM: 992px;
$screenL: 1200px;

$primary-color: #6599FF;
$highlight-color: #FFFF8D;
$back-color: transparent !important;
$midnight-blue: #191970;
$text-color: white;




